# macOS
.DS_Store

# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/app/google-services.json
android/key.properties

# iOS
ios/Runner/GoogleService-Info.plist
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml

# Local
lib/services/firebase_options.dart
